* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Josefin Sans";
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.socials-holder .list, .socials-holder, .footer, .whatWeDoing .wrapper, .whatWeDoing, .aboutAgency .container, .aboutAgency, .aboutUs .container, .aboutUs, .header, .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  padding-top: 68px;
  background-color: #e5e5e5;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1140px;
  height: auto;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}

.header {
  position: relative;
  background-color: #222222;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header.activeBurger .nav-list {
  opacity: 1;
  visibility: visible;
}
.header.activeBurger .burger-btn span {
  opacity: 0;
}
.header.activeBurger .burger-btn::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 10px;
}
.header.activeBurger .burger-btn::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 13px;
}

.container {
  width: 100%;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 15px;
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 15px 0;
  }
}

.logo-link {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo-link .icon-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 38px;
  height: 38px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.001em;
  color: #ffa000;
  border: solid 3px #ffa000;
  margin-right: 10px;
}
@media screen and (min-width: 1024px) {
  .logo-link .icon-holder {
    margin-right: 17px;
  }
}
.logo-link .text-holder {
  display: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.001em;
  color: #eaeaea;
}
@media screen and (min-width: 1024px) {
  .logo-link .text-holder {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .nav-holder {
    width: 580px;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.nav-holder .nav {
  width: 100%;
}
.nav-holder .nav-list {
  background-color: #222222;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
@media screen and (min-width: 1024px) {
  .nav-holder .nav-list {
    position: static;
    opacity: 1;
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.nav-holder .nav-list .nav-item {
  padding: 10px;
}
@media screen and (min-width: 1024px) {
  .nav-holder .nav-list .nav-item {
    padding: 0;
  }
}
.nav-holder .nav-list .nav-item.activeLink .nav-item {
  color: red;
}
.nav-holder .nav-list .nav-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.001em;
  color: #eaeaea;
}

.burger-btn {
  position: relative;
  width: 40px;
  height: 24px;
  background-color: transparent;
  outline: none;
  border: none;
}
@media screen and (min-width: 1024px) {
  .burger-btn {
    display: none;
  }
}
.burger-btn span, .burger-btn::before, .burger-btn::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #eaeaea;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.burger-btn span {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.burger-btn::before {
  top: 0;
}
.burger-btn::after {
  bottom: 0;
}

.aboutUs {
  width: 100%;
  height: 500px;
  background-position: -460px 0;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 1024px) {
  .aboutUs {
    background-position: 0 0;
  }
}
.aboutUs .container {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}
@media screen and (min-width: 1024px) {
  .aboutUs .container {
    padding: 0;
  }
}

h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 35px;
  letter-spacing: 0.001em;
  color: #ffffff;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 60px;
  }
}

.aboutAgency {
  width: 100%;
  height: auto;
  background-color: #ffffff;
}
.aboutAgency .container {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 15px;
}
@media screen and (min-width: 1024px) {
  .aboutAgency .container {
    padding: 80px 0;
  }
}

.contentHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .contentHolder {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.contentHolder .imgHolder {
  width: 290px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .contentHolder .imgHolder {
    min-width: 470px;
    margin-right: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .contentHolder .imgHolder {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
@media screen and (min-width: 1140px) {
  .contentHolder .imgHolder {
    min-width: 570px;
    margin-bottom: 0;
    margin-right: 30px;
  }
}
.contentHolder .textHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contentHolder .textHolder p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.002em;
  color: #222222;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0.001em;
  color: #222222;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  h2 {
    font-size: 35px;
    margin-bottom: 50px;
  }
}

h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.001em;
  color: #222222;
  width: 100%;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 10px;
}
@media screen and (min-width: 1024px) {
  h3 {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

.items {
  padding-left: 10px;
}
.items li {
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.002em;
  color: #222222;
  width: 100%;
  text-align: left;
  margin-bottom: 18px;
}
@media screen and (min-width: 1024px) {
  .items li {
    line-height: 15px;
  }
}
.items li i {
  width: 15px;
  height: 15px;
  color: #ffa000;
  margin-right: 5px;
}

.whatWeDoing {
  width: 100%;
  height: auto;
  width: 100%;
  height: 850px;
  background-color: #eeeeee;
}
.whatWeDoing .wrapper {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
  padding: 0 15px;
}
@media screen and (min-width: 1024px) {
  .whatWeDoing .wrapper {
    padding: 75px 0 75px 0;
  }
}

.swiper {
  width: 100%;
}
.description {
  background-color: #ffffff;
  padding: 20px 10px 20px 10px;
}
@media screen and (min-width: 1024px) {
  .description {
    padding: 30px 20px 30px 20px;
  }
}
.description p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.002em;
  color: #222222;
  width: 100%;
  text-align: justify;
  margin-bottom: 20px;
}

h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0.001em;
  color: #222222;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  h2 {
    font-size: 35px;
    margin-bottom: 50px;
  }
}

h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.001em;
  color: #222222;
  width: 100%;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  h3 {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.footer {
  width: 100%;
  background-color: #222222;
}
.footer .container {
  padding: 80px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .container .logo-link {
  margin-bottom: 8px;
}
.footer .container .text-holder {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #ffffff;
  margin-bottom: 20px;
}

.socials-holder {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
}
.socials-holder .list {
  height: 32px;
}
.socials-holder .list > *:not(:last-child) {
  margin-right: 32px;
}
.socials-holder .link {
  width: 32px;
  height: 32px;
  position: relative;
  display: inline-block;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.socials-holder .link i {
  color: #ffffff;
}
.socials-holder ._icon-facebook:before {
  content: "\e903";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 32px;
}
.socials-holder ._icon-facebook:before .item {
  width: 20px;
  height: 32px;
}
.socials-holder ._icon-facebook:hover {
  color: #5373fd;
}
.socials-holder ._icon-twitter:before {
  content: "\e901";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 32px;
}
.socials-holder ._icon-twitter:hover {
  color: #5373fd;
}
.socials-holder ._icon-linkedin:before {
  content: "\e905";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 32px;
}
.socials-holder ._icon-linkedin:hover {
  color: #5373fd;
}
.socials-holder ._icon-youtube:before {
  content: "\e902";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 32px;
}
.socials-holder ._icon-youtube:hover {
  color: #ff6363;
}
.socials-holder ._icon-pinterest:before {
  content: "\e900";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 32px;
}
.socials-holder ._icon-pinterest:hover {
  color: #ff6363;
}