.footer {
  @extend %flex;
  width: 100%;
  background-color: $dark;

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px 15px;

    @media screen and (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
      padding: 15px 0;
    }

    .text-holder {
      @include font-setting('Montserrat', normal, 400, 15px, 25px, 0.002em, $light-grey);
      margin-bottom: 20px;

      @media screen and (min-width: 1024px) {
        margin-bottom: 0;
      }
    }
  }
}

.socials-holder {
  width: 140px;
  position: relative;

  .list {
    @extend %flex;
    justify-content: space-between;
  }

  .link {
    @include size(20px, 20px);
    position: relative;
    display: inline-block;
    // align-items: flex-end;

    i {
      color: $light-grey;
    }
  }

  ._icon-facebook:before {
    content: '\e903';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }

  ._icon-facebook:hover {
    color: $orange;
  }

  ._icon-twitter:before {
    content: '\e901';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }

  ._icon-twitter:hover {
    color: $orange;
  }

  ._icon-linkedin:before {
    content: '\e905';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }

  ._icon-linkedin:hover {
    color: $orange;
  }

  ._icon-instagram:before {
    content: '\e902';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }

  ._icon-instagram:hover {
    color: $orange;
  }
}
