.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  padding-top: 68px;
  font-family: 'Montserrat', sans-serif;
  //flex-grow: 1;
  //flex: 1 1 auto;
}

.container {
  @include size-m-w(1140px, auto);
  @extend %flex;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}
