.header {
  position: relative;
  background-color: $dark;
  @extend %flex;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;

  &.activeBurger {
    .nav-list {
      opacity: 1;
      visibility: visible;
    }

    .burger-btn {
      span {
        opacity: 0;
      }

      &::before {
        transform: rotate(45deg);
        top: 10px;
      }

      &::after {
        transform: rotate(-45deg);
        bottom: 13px;
      }
    }
  }

  .container {
    position: relative;
    @extend %flex;
    @include size(100%, auto);
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;

    @media screen and (min-width: 1024px) {
      padding: 15px 0;
    }
  }
}

.logo-link {
  cursor: pointer;
  display: flex;
  align-items: center;

  .icon-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    @include font-setting('Montserrat', normal, 500, 20px, 20px, 0.001em, $orange);
    border: solid 3px $orange;
    margin-right: 10px;

    @media screen and (min-width: 1024px) {
      margin-right: 17px;
    }
  }

  .text-holder {
    display: none;
    @include font-setting('Montserrat', normal, 500, 18px, 18px, 0.001em, $header-text);

    @media screen and (min-width: 1024px) {
      display: block;
    }
  }
}

.nav-holder {
  @media screen and (min-width: 1024px) {
    width: 580px;
    display: block;
    display: flex;
  }

  .nav {
    width: 100%;
  }

  .nav-list {
    background-color: $dark;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 0.3s;

    @media screen and (min-width: 1024px) {
      position: static;
      opacity: 1;
      visibility: visible;
      display: flex;
      justify-content: space-between;
    }

    .nav-item {
      padding: 10px;

      @media screen and (min-width: 1024px) {
        padding: 0;
      }

      &.activeLink {
        .nav-item {
          color: red;
        }
      }
    }

    .nav-link {
      @include font-setting('Montserrat', normal, 500, 16px, 16px, 0.001em, $header-text);

      &.active {
        color: $orange;
      }
    }
  }
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: 180px;
  right: 0;
  width: 190px;
  background-color: $dark;
  border-top: 4px solid $orange;

  @media screen and (min-width: 1024px) {
    top: 67px;
    width: 200px;
  }

  &.open {
    display: block;
  }
  li {
    @include font-setting('Montserrat', normal, 500, 16px, 16px, 0.001em, $header-text);
    text-align: left;
    padding: 20px 0 20px 20px;
    border-bottom: 1px solid $dark-grey;

    a {
      color: $header-text;
    }

    .fa-chevron-down {
      color: $orange;
    }
  }
}

.burger-btn {
  position: relative;
  width: 40px;
  height: 24px;
  background-color: transparent;
  outline: none;
  border: none;

  @media screen and (min-width: 1024px) {
    display: none;
  }

  span,
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: 2px solid $header-text;
    transition: all ease-in-out 0.3s;
  }

  span {
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}
