$dark: #222222;
$orange: #ffa000;
$light-grey: #eeeeee;
$dark-grey: #424242;
$white: #ffffff;
$header-link-active: #a7760e;
$header-text: #eaeaea;

$accent: #5373fd;
$blue: #00a2ff;
$red: #ff6363;
$bg: #e5e5e5;
$grey: #999999;
// $dark-grey: #333333;
$black: #302525;
