.whatWeDoing {
  @extend %flex;
  width: 100%;
  height: auto;
  @include size(100%, 770px);
  background-color: $light-grey;

  .wrapper {
    @extend %flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    padding: 50px 15px 0;

    @media screen and (min-width: 1024px) {
      padding: 75px 0;
    }
  }
}

.item {
  @include size(290px, auto);

  @media screen and (min-width: 768px) {
    @include size(330px, auto);
  }

  @media screen and (min-width: 1140px) {
    @include size(370px, auto);
  }
}

.description {
  background-color: $white;
  padding: 20px 10px 20px 10px;

  @media screen and (min-width: 1024px) {
    padding: 30px 20px 30px 20px;
  }

  p {
    @include font-setting('Montserrat', normal, 400, 15px, 25px, 0.002em, $dark);
    width: 100%;
    text-align: justify;
    margin-bottom: 20px;
  }
}

h2 {
  @include font-setting('Montserrat', normal, 600, 25px, 25px, 0.001em, $dark);
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 40px;

  @media screen and (min-width: 1024px) {
    font-size: 35px;
    margin-bottom: 50px;
  }
}

h3 {
  @include font-setting('Montserrat', normal, 600, 18px, 18px, 0.001em, $dark);
  width: 100%;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 20px;

  @media screen and (min-width: 1024px) {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.container {
  padding: 0;
}

.slider {
  width: 100%;
}
